[Desktop Entry]
Categories=Screensaver;
Encoding=UTF-8
Exec=kannasaver.kss
Icon=kscreensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
Actions=Setup;InWindow;Root
X-KDE-Category=Miscellaneous
Name=Kannasaver
Name[bg]=Kannasaver
Name[de]=Kannasaver
Name[en_GB]=Kannasaver
Name[eo]=Kannasaver
Name[et]=Kannasaver
Name[fr]=Kannasaver
Name[pt]=Kannasaver
Name[pt_BR]=Kannasaver
Name[sv]=Kannasaver
Name[tr]=Kannasaver
Name[uk]=Kannasaver
Name[x-test]=xxKannasaverxx

[Desktop Action Setup]
Exec=kannasaver.kss -setup
Name=Setup...
Name[bg]=Настройка...
Name[de]=Einrichtung ...
Name[en_GB]=Setup...
Name[eo]=Agordo...
Name[et]=Seadistused...
Name[fr]=Configuration...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[sv]=Inställningar...
Name[tr]=Ayarla...
Name[uk]=Налаштувати...
Name[x-test]=xxSetup...xx
Icon=kscreensaver

[Desktop Action InWindow]
Exec=kannasaver.kss -window-id %w
Name=Display in specified window
Name[bg]=Показване в определен прозорец
Name[de]=In einem ausgewählten Fenster anzeigen
Name[en_GB]=Display in specified window
Name[et]=Määratud aknas näitamine
Name[fr]=Afficher dans la fenêtre spécifiée
Name[pt]=Mostrar na janela indicada
Name[pt_BR]=Exibir na janela especificada
Name[sv]=Visa i angivet fönster
Name[tr]=Belirtilen pencerede göster
Name[uk]=Показувати у вказаному вікні
Name[x-test]=xxDisplay in specified windowxx
NoDisplay=true

[Desktop Action Root]
Exec=kannasaver.kss -root
Name=Display in root window
Name[bg]=Показване в основния прозорец
Name[de]=Im Basisfenster (Root Window) anzeigen
Name[en_GB]=Display in root window
Name[et]=Juuraknas näitamine
Name[fr]=Afficher dans la fenêtre racine
Name[pt]=Mostrar na janela de fundo
Name[pt_BR]=Exibir na janela raiz
Name[sv]=Visa i rotfönster
Name[tr]=Kök pencerede göster
Name[uk]=Показувати у кореневому вікні
Name[x-test]=xxDisplay in root windowxx
NoDisplay=true
