[Desktop Entry]
Categories=Screensaver;
Encoding=UTF-8
Exec=kannasaver.kss
Icon=kscreensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
Actions=Setup;InWindow;Root
X-KDE-Category=Miscellaneous
Name=Kannasaver
Name[de]=Kannasaver
Name[es]=Kannasaver
Name[nds]=Kannasaver
Name[pt]=Kannasaver
Name[pt_BR]=Kannasaver
Name[uk]=Kannasaver
Name[x-test]=xxKannasaverxx

[Desktop Action Setup]
Exec=kannasaver.kss -setup
Name=Setup...
Name[de]=Einrichtung ...
Name[es]=Configuración...
Name[nds]=Instellen...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[uk]=Налаштувати…
Name[x-test]=xxSetup...xx
Icon=kscreensaver

[Desktop Action InWindow]
Exec=kannasaver.kss -window-id %w
Name=Display in specified window
Name[de]=In bestimmten Fenster anzeigen
Name[es]=Mostrar en la ventana especificada
Name[nds]=In angeven Finster wiesen
Name[pt]=Mostrar na janela indicada
Name[pt_BR]=Exibir na janela especificada
Name[uk]=Показувати у визначеному вікні
Name[x-test]=xxDisplay in specified windowxx
NoDisplay=true

[Desktop Action Root]
Exec=kannasaver.kss -root
Name=Display in root window
Name[de]=In Hintergrundfenster anzeigen
Name[es]=Mostrar en la ventana raíz
Name[nds]=In Hööftfinster wiesen
Name[pt]=Mostrar na janela de fundo
Name[pt_BR]=Exibir na janela raiz
Name[uk]=Показувати у кореневому вікні
Name[x-test]=xxDisplay in root windowxx
NoDisplay=true
